<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">

        <title>Google</title>
        <link rel="stylesheet" href="/static/css/stylehw.css">
    </head>

    <body>
    <div class="container">
        <div class="navigacija"></div>

        <div class="napis">
        <img src="/static/img/google-logo.png" class="title-image" width="300px" alt="google logo">
        </div>

        <div class="vnos"><button></button></div>

        <div class="iskanje"><button>Iskanje Google</button></div>
        <div class="iskanje2"><button>Klik na srečo</button></div>
        <div class="napis">
            <img src="/static/img/under-construction.png">
        </div>
    </div>

        <div class="drzava">Slovenija</div>
        <div class="navigacija-spodaj">Oglaševanje</div>

        <div class="main"></div>
    </body>

</html>
