<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="Moja prva spletna stran">
        <meta name="keywords" content="=fakebook, konjički, jaz">
        <meta name="""author" content="EM">
        <!--other code-->
        <link rel="stylesheet" href="style2.css">

        <title>Fakebook | Mica maca</title>
    </head>

    <body>
        <h1 id="red">FAKEBOOK</h1>
    Iskanje: <input type="text" placeholder="Išči po imenu">
    <br>
    <h2 id="red">Mica Maca</h2>
    <img width="300px"
     src="https://upload.wikimedia.org/wikipedia/commons/6/66/An_up-close_picture_of_a_curious_male_domestic_shorthair_tabby_cat.jpg" class="image">
    <br>
    <br>

    <button>Dodaj prijatelja</button>
    <br>

    <p class="podcrtan"><strong>Mesto: </strong>Mačji dol</p>
    <p class="podcrtan"><strong>Starost: </strong>Ravno prav</p>
    <p class="podcrtan"><strong>Izobrazba: </strong>Mačja fakulteta</p>
    <p class="podcrtan"><strong>Hobiji: </strong>Mijavkanje</p>
    <p class="podcrtan"><strong>Prijatelji: </strong>Maček Muri</p>

    </body>

</html>