<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="/static/css/style.css">
        <meta charset="UTF-8">
        <title>Portfolio</title>
    </head>

    <body>
        <h3>Oglejte si nekatere izmed mojih projektov</h3>
            <ul>
                <li><a href="fakebook">Fakebook</a></li>
                <li><a href="boogle">Boogle</a></li>
                <li><a href="hair-salon">Hair-salon</a></li>
            </ul>
        <img src="/static/img/macek.jpg" height="420" width="420">
    </body>
</html>
